<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="form_add">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Delete User</legend>
                <div class="input_group hidden">
                    <label for="">Id</label>
                    <input name="userId" type="text" value="<%=user.id %>">
                </div>
                <div class="input_group">
                    <label for="">Are you sure to delete user ?</label> <br>
                    <label for="email">Email</label>
                    <input name="email" type="text" value="<%=user.email %>">
                </div>
                <div class="form_btn">
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>